@charset "utf-8";
html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.8rem;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
a:hover{
	opacity: 0.7;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
}
h2{
	margin-bottom: 50px;
	font-size: 3.6rem;
	position: relative;
	display: inline-block;
}
h2:before{
	content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}

h3{
	line-height: 2.0;
}
/*===============

ヘッダー

==============*/
header {
	width: 100%;
	padding: 30px 0;
}

header .tel {
	display: none;
}

header .bird {
	display: none;
}


.navi{
	width: 1000px;
	margin: 0 auto;
}

.navi .logo {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}
.navi .menu{
	width: 500px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 100px;
}

.menu ul li {
	display: inline-block;
	vertical-align: bottom;
	width: 200px;
}
.menu ul li a{
	display: block;
}

.menu ul .m_order{
}
.menu ul .m_lesson{
	margin-left: 30px;
}
/*====================

メイン

======================*/
.main{
	min-width: 1000px;
	background: url("../images/chalkart/back_main.jpg") no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.main .img {
	width: 40%;
	margin: 0 auto;
}

.catch{
	font-size: 3.0rem;
	padding: 50px 0;
	font-weight: normal;
}
.catch strong{
	font-size: 3.6rem;
	color: #f575c2;
	text-decoration: underline;
}
#container {
	text-align: center;
}
.content_back{
	background:#ffe5da;
	padding: 50px 0;
}
.content{
	min-width: 1000px;
}

.content .left {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.content .right {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.content .right .explain {
	text-align: left;
	margin-left: 30px;
}
#what_chalk h2{
	color: #e45a1f;
	
}
#what_chalk h2:before{
	background: #e45a1f;
}
.what_chalkart{
	padding: 50px 0;
}

/*===================

特に注文が多い

=====================*/
.favorite{
	padding: 50px 0;
}

.favorite .osusume{
	font-size: 2.4rem;
	margin-bottom: 50px;
	position: relative;
	display: inline-block;
	color: #fff;
}
.favorite .best{
	font-size: 3.8rem;
	color: #fb7577;
	font-weight: bold;
}
.favorite h3 .voice{
	font-size: 2.6rem;
	color: #f19554;
}
/*===================

ウェルカムボード

=====================*/
.welcome{
	min-width: 1000px;
	padding: 50px 0 50px 0;
}
.welcome .left{
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
.welcome .left .explain{
	text-align: left;
	margin-top: 50px;
	font-size: 2.0rem;
	line-height: 1.5;
}
.welcome .right{
	width: 50%;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 80px;
}
.welcome .right .img img{
	border-radius: 10px;
}

/*===================

ペット

=====================*/
.pet{
	min-width: 1000px;
	padding: 50px 0 50px 0;
}
.pet .left{
	width: 60%;
	display: inline-block;
	vertical-align: bottom;
}
.pet .right{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-left: 80px;
}
.pet .right .explain{
	margin-top: 50px;
	text-align: left;
	font-size: 2.0rem;
	line-height: 1.5;
}

/*==================

注文受付

===================*/
.order{
	position: relative;
	padding: 100px 0 50px 0;
	height: 680px;
	background: url("../images/chalkart/back_order.png") no-repeat;
	background-position: center;
}
.order h2{
	color: #fff;
}
.order h2:before{
	background: #fff;
}
.order h3{
	color: #fff;
}
/*===================

体験レッスン

=====================*/
.lesson{
	color: #038e1a;
	position: relative;
	height: 770px;
	background:url("../images/chalkart/back_lesson.png") no-repeat;
		padding: 50px 0;
	background-position: center;
}
.lesson h2:before{
	background: #038e1a;
}

.bnr{
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	width: 800px;
	margin: 50px auto 0;
}
.bnr a:hover{
	opacity: 0.8;
}
footer{
}

/*====================

トップへ戻る

======================*/
.pagetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #99ca24;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 20px 10px;
	border-radius: 10px;
}
.pagetop a:hover {
opacity: 0.9;
}