@charset "utf-8";

/*-----------------------------------------------------------------------------------

　各種リセット

-------------------------------------------------------------------------------------*/

*{ margin:0; padding:0;}
img{border:0;vertical-align:bottom;}

html{overflow-y: scroll;	}

div,table{ margin:auto;	}
ul{ list-style-type:none;}

/*
a:hover img{
	 filter:alpha(opacity=70);
     -moz-opacity:0.70;
     opacity:0.70;
	}

h1 a:hover img{
	 filter:alpha(opacity=100);
     -moz-opacity:1.00;
     opacity:1.00;
}
*/

header,
nav,
footer,
section{
	display:block;}
	
/*-----------------------------------------------------------------------------------

　フォント関連

-------------------------------------------------------------------------------------*/
/*html {font-size:62.5%;}*/
body { font-size:16px;/* font-size:1.6rem;*/}
p,th,td,li{ font-size:16px;/* font-size:1.6rem;*/}

body{
	color:#333;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	
a{
	color:#06C;
	text-decoration:none;
	}
a:hover{
	color:#0CF;
	text-decoration:underline;
	}




/*-----------------------------------------------------------------------------------

　レイアウト

-------------------------------------------------------------------------------------*/

/*背景*/

body{
	background:url(../images/common/bg.png);
	}

#bg{
	/*background:url(../images/common/bg_header.png) no-repeat center 0 ;*/
/*	padding-top:150px;*/
	padding-top:35px;
	}
/*#bg_sub{background:url(../images/common/bg_footer.png) no-repeat center bottom; }*/

/*横幅*/
#container{	width:888px;}
#navi,
#content,
footer{ width:888px;}

body{text-align:center;	}



body.home{}


#container{	text-align:center;}
#content{
	zoom:100%;
	clear:both;
	text-align:left;
	margin:0 0px 0 0px;
	padding-bottom:50px;
	}
#content:after{
	content:"";
	display:block;
	clear:both;
}	



/*ヘッダー
----------------------------------------------*/
header{
	zoom:100%;
	text-align:center;
	padding-top:10px;
	margin-bottom:35px;
	}
header:after{
	content:"";
	display:block;
	clear:both;
}


header h1{
	}
	
	
header .tel{}
header .tel p{
	display:inline-block;
	vertical-align:middle;
}

header .tel .navi_mini{ float:left; width:270px;}
header .tel .navi_mini ul{ float:right;}
header .tel .navi_mini li{ float:left;}
header .tel .navi_mini p{ clear:both;}

header .tel .btn_contact{ float:right; width:200px;}



header .bird{ position:relative;}
header .bird p{ position:absolute;
right:-130px;
bottom:-30px;}

header .logo_flower{ position:relative;}
header .logo_flower p{ position:absolute;
	left:20px;
	bottom:-60px;

}



#navi{
	position:relative;
	z-index:1000;
	}
#navi ul{
	margin-left:20px;
	}
#navi ul li{
	list-style: none; float: left; position: relative; }
#navi ul li a{ cursor:pointer;}
#navi ul li a:hover img{}
#navi ul ol { display: none; position: absolute; top:45px; left: -3px; }
* html #navi ul ol { line-height: 0; }
#navi ul ol li { float: none; }

#navi ul ol { width: 210px; }
#navi ul ol ul { top:0; left: 121px; }
#navi ul ol a{ 
	display: block;
	font-size:13px;
	width: 160px;
	background:#000;
	padding:12px 6px 12px 6px;
	color: #FFF;
	border-bottom: 1px solid #666;
	opacity: 0.9;
	filter: alpha(opacity=90);
	zoom: 1;
	line-height:1;
	text-decoration:none;
}
#navi ul ol a:hover { background:#666; }

#navi .selected{}



/*カラム設定
----------------------------------------------*/

.column2{
	clear:both;
	zoom:100%;
	}
.column2:after{
    content: "";
    display: block;
    clear: both;
	}


.column2 #main{
	float:left;
	}

.column2 #sidebar{
	float:right;
	}
	
/*
#sidebar p{
	margin-bottom:15px;}

#sidebar .bnr{
	background:#FFF;
	padding:15px 0 5px 0;
	
    box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    -webkit-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    -moz-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;	
	
	}
#sidebar .bnr p{
	text-align:center;
	margin-bottom:10px;
	}

.side_navi{
	padding:5px;

    box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    -webkit-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    -moz-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
	
	background:#FFF;
	margin-bottom:20px;

}
.side_navi h3{
	color:#4C0021;
	text-align:center;
	border-bottom:2px solid #4C0021;
	}
.side_navi ul{}
.side_navi ul li{
	border-bottom:1px solid #D4D4D4;
	
	}
.side_navi ul li a{
	display:block;
	padding:8px;
	color:#2A0707;
}
.side_navi ul li a:hover{
	text-decoration:none;
	
	filter:alpha(opacity=70);
     -moz-opacity:0.70;
     opacity:0.70;
	
	}

*/

/*フッター
----------------------------------------------*/

.page_top{
	text-align:center;
	padding:20px 0;
	}
footer{
	clear:both;
	zoom:100%;
	text-align:center;
	padding: 0 0  150px 0;
	}

footer:after{
	content:"";
	display:block;
	clear:both;
}

footer *{ color:#333;}	
	
footer .logo-footer{
	}
	
footer nav{
	margin:0 50px 25px 50px;
	font-size:11px;
	
}
footer nav:after{
	content:"";
	display:block;
	clear:both;
}

/*	
footer nav ul{
	display:block;
	margin:auto;
	}
footer nav ul li{
	background:url(../images/common/icon-foot-navi.png) no-repeat left 6px ;
	margin:0 0 3px 10px;
	float:left;
	text-align:left;
	line-height:1.2em;
}
*/

footer nav a{
	padding:0 15px 0 8px;

	font-size:12px;
}
footer nav ul li ol{
	list-style-type:none;
	margin:5px 0 0 0px;
	}
footer nav ul li ol li{
	background:url(../images/common/icon-foot-navi2.png) no-repeat left 10px ;
	padding:0 0 0 8px;
	margin:0 0 3px 0;
	float:none;
}
footer nav ul li ol li a{
	font-size:11px;
}


footer nav ul li.mini{
	background:none;
	padding:0 15px 0 0px;
}
footer nav ul li.mini ol{
	margin:0;
}

	
footer address{
	clear:both;
	text-align:center;
	height:60px;
	font-style:normal;
	font-family:"Century Gothic";
	font-size:12px;
}
footer address{
	line-height:60px;
	}




/*　セクション共通
----------------------------------------------*/

/*タイトル */

h2,h3,h4,h5,h6{
	clear:both;
	}
	

/*ページタイトル*/
h2{
	
	marginn-top:20px;
	margin-bottom:30px;
	text-align:center;
	}

h3{
	
	background:url(../images/common/bg_h3.png) no-repeat 0 15px;

	font-size:24px;
	font-weight:normal;
	/*color:#4E9C8E;*/
	
	/*color:#5BC2D5;*/
	color:#554228;
	

	text-align:center;
	padding:5px 0 5px 60px;
	margin-bottom:20px;
	
	text-align:left;
	

	}
h3 span{ font-size:15px;
}

h4{

	color:#FFF;
	font-size:17px;
	padding:5px 10px;
	background:#554228;

	
	border-radius: 5px;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px; 
	
	margin:0px 0 10px 0;
	
	

	}
h4 span{
	display:inline;
	font-size:18px;
	padding:8px 25px 6px 25px;

	border-radius: 2px;        /* CSS3草案 */  
	-webkit-border-radius: 2px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 2px;   /* Firefox用 */
}


h2.img,
h3.img,
h4.img,
h5.img{
	background:inherit;
	padding:0;
	margin:0 0 10px 0;
	text-indent:0;
	}



		


/*-----------------------------------------------------------------------------------

　汎用セレクタ

-------------------------------------------------------------------------------------*/

section,
.box{
	
/*	background:#FFF;*/
background:#DBD7D1;

    /*
	box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #EEE;
    -webkit-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #EEE;
    -moz-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #EEE;
	
	*/
	
	
	/*border-bottom:1px solid #DDD;*/
	
	
	padding:10px 20px 20px 20px;

	margin:0 10px 30px 10px;
}


.indent{
	margin:0 5px 15px 5px;}


	
.center{ text-align:center !important;}
.L{	text-align:left !important;	}
.R{	text-align:right !important;	}

img.img_txtline{vertical-align: bottom;}


.B{ font-weight:bold;}
.txtL{ font-size:130%;}
.noB{ font-weight:normal;}
.t9{ font-size:9px;}
.t11{ font-size:11px;}
.t12{ font-size:12px;}
.t13{ font-size:13px;}
.t14{ font-size:14px;}
.t15{ font-size:15px;}
.t16{ font-size:16px;}
.t18{ font-size:18px;}
.SS{ font-size:80%;}
.BL{ color:#2B7AA1;}
.BL2{ color:#039;}
.BL3{ color:#06C; }
.BW{ color:#7F4717;}
.GR{ color:#339900;}
.PK{ color:#972D52;}
.RD{ color:#FF0000;}
.PP{ color:#C39;}

.bg_wt{
	background:#FFF;
	}


.clrfix{
	clear:both;
	zoom:100%;
	margin-bottom:20px;	}
.clrfix:after{
    content: "";
    display: block;
    clear: both;
	}

.clrfix .left{
	float:left;}
.clrfix .right{
	float:right;
	}


/*ギャラリー*/
.gall{
	clear:both;
	zoom:100%;
	}
.gall:after{
    content: "";
    display: block;
    clear: both;
	}
.gall ul{ list-style-type:none;
	margin-left:-10px;
	}
.gall ul li{
	width:195px;
	height:140px;
	overflow:hidden;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	border:8px solid #EEE;
	}
.gall ul li img{
	width:100%;
	/*border-radius: 140px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;*/
	}
	
.box_bdr{
	border:5px solid #EEE;
	padding:15px;
	}
	
.bnr p{
	margin-bottom:10px;}

.hovImg a:hover img{
	filter:alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
	}
a.hovImg:hover img{
	filter:alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
	}

.imgbox{
	padding:5px;
	border:1px solid #DDD;
	}
a .thum{
	padding:4px;
	border:1px solid #DDD;
	background-color:#FFF;	
	}
a:hover .thum{
	background-color:#DDD;
	}





/*table*/


section table{
	width:100%;
	border-collapse:separate;
	border-spacing:5px;
	margin-bottom:8px;
	}
section table th,
section table td{
	padding:10px;
/*	border-bottom:1px dotted #DDD;*/
	vertical-align:top;
	text-align:left;
	}
section table th{
	text-align:center;
	/*background:#F4F4F4;*/
	font-weight:normal;
	}	
	

	



	
/*list*/

.list-simple-no{
	margin:0 0 0 30px;
	}
.list-simple-no li{
	margin-bottom:8px;	
	}
	
	
/**/
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px !important;}
.mb20{ margin-bottom:20px !important;}
.m0{
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-left:0 !important;
	margin-right:0 !important;
	}


/**/

.box_chui{
	background:url(../images/common/bg-chui.png);
	border:10px solid #FFF;
	
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	
	padding:15px;
	
}
.box_chui h5{ text-align:center; color:#DF0F0F; font-size:16px;}


/**/

.txt{ margin:0 0px 20px 0px;}
.txt p{
	margin:5px 5px 10px 5px;
	line-height:1.7em;
	}
.txt ul{
	list-style-type:disc;
	margin-bottom:10px;
	padding:0 0 0 20px;}
.txt ul li{
	margin-bottom:5px;
}

.txt ol{
	margin:2px 10px 14px 30px;	}	
.txt ul li,
.txt ol li{
	line-height:1.4em;
	margin-bottom:12px;
}



.boxGy{
	margin:0 20px 20px 20px;
	width:630px;
	background:url(../images/common/bg_gy_box_main.gif) repeat-y;}
.boxGy p{
	margin:0 20px 10px 20px;
	color:#CCC;
	}

.picList{
	margin:0 15px 20px 20px;
clear:both;}

.picList:after{
	content:"";
	display:block;
	clear:both;
}
.picList ul{
	 width:630px;
	list-style-type:none;
	margin:0 0 0 0 !important;
	}
.picList ul li{
	float:left;
	margin:0 14px 10px 0;
	line-height:1.2em;
	padding:0;
	}
.picList ul li p{
	font-size:12px;
	}	
.picList img{
	border:5px solid #333;}	



.bnr{}
.bnr ul{ list-style-type:none;}
.bnr ul li{ margin-bottom:5px;}


section blockquote{
	
	background-image: url(../images/common/bg_line_up.png),
                      url(../images/common/bg_line_btm.png)
					  ;
    background-repeat: no-repeat,
                       no-repeat	;
	background-position: center 0 ,
                         center	bottom;
						 
	padding:50px 0 ;
	
	}
section blockquote p{
	color:#453233;
}

/*　
　

----------------------------------------------------------------------*/
.thum{ border:5px solid #EEE;}
	

/*====================

2019.1.9 追加

========================*/
#navi{
	position: absolute;
	width: 1050px;
	left: 0;
	right: 0;
	margin: auto;
}
#content{
	padding-top: 50px;
}
#bg_sub{
	position: relative;
}
header .bird{
	top: 45px;
}





