@charset "utf-8";

/*-----------------------------------------------------------------------------------

ページ別スタイル

-------------------------------------------------------------------------------------*/

#service,
#company,
#service,
#contact,
#sitemap,
#privacy {}


/*テキストシャドウ　一括*/

.txt p,
.service_list ul li a {
	text-shadow: 1px 1px 0px #FFF;
}

.line1 {
	text-align: center;
	padding-bottom: 10px;
}


/*Sample*/

.sample {
	background: #EEE;
	text-align: center;
	padding: 200px;
	font-weight: bold;
	color: #CCC;
}

.tel_no {
	font-size: 20px;
	font-weight: bold;
	color: #4B4B4B;
	font-family: "Century Gothic";
}

.txt_catch {
	background: #F5EDED;
	padding: 15px;
	border: solid 10px #E5D2D2;
}


/*-----------------------------------------------------------------------------------

 トップページ

-------------------------------------------------------------------------------------*/


/*メインビジュアル
==================*/

.main_visual {}

.main_visual .img_box {
	float: left;
	width: calc(100%/3);
}

.main_visual .img_box img {
	width: 100%;
}

.service_list {
	/*	background:#D1E9E4;

	box-shadow:0px 0px 10px #D1E9E4;
	border:1px solid #D1E9E4;
	*/
	padding: 15px;
}

.service_list ul {
	/*
	margin-left:140px;
	*/
}

.service_list ul li {
	/*
background:url(../images/common/icon-list1.png) no-repeat 0 5px;
padding-left:18px;
*/
	margin-bottom: 0px;
}

.service_list ul li a {
	color: #2E2A2A;
}

.service_list h4 {
	/*	float:left;*/
}

.service_list .left {
	width: 420px;
}

.service_list .right {
	width: 420px;
}

.news_line h3 {
	text-align: left;
}


/*オーナーのセレクト（TOP）*/

.top_select {
	width: 400px;
}

.top_select ul li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.top_select ul li span {
	display: block;
	text-align: center;
	font-size: 12px;
}


/*インフォメーション（TOP）*/

.top_information {
	width: 430px;
	padding-left: 30px;
	border-left: #C8E4E7 1px solid;
}


/*ニュース（TOPに表示）*/

#news {
	margin-bottom: 20px;
	overflow: auto;
	height: 200px;
}

#news .n_day {
	float: left;
	font-size: 11px;
}

#news .n_txt {
	font-size: 12px;
	margin-left: 80px;
	margin-bottom: 5px;
}

#top .bnr {
	padding: 30px;
}

#top .bnr ul {
	margin-left: 0px;
	list-style-type: none;
}

#top .bnr ul li {
	float: left;
	margin-right: 10px;
	font-size: 11px;
}

.bnr_facebook {
	padding: 20px;
	width: 230px;
}

.fb-like {
	background: #FFF;
	border: 1px solid #3B5998;
	height: 30px;
	padding: 5px 0 5px 20px;
	width: 208px;
}


/*
.bnr_navi{
	background:#E8F2D5;
	padding:15px 0 15px 15px;
	clear:both;
	zoom:100%;
	}
.bnr_navi:after{
    content: "";
    display: block;
    clear: both;
	}
	

.bnr_navi ul{
	margin-left:10px;
	list-style-type:none;}
.bnr_navi ul li{
	float:left;
	margin-right:18px;

.top_service{}
.top_service .sub{
	padding:5px;



	}
.top_service .left{ width:330px;}
.top_service .right{ width:330px;}

.top_service .sub .txt{	margin:0 5px;}
.top_service .sub .txt p{ color:#FFF; font-size:13px; line-height:1.4em; margin-bottom:7px;}
.top_service .tokucho{}
.top_service .tokucho .left{ width:410px;}
.top_service .tokucho .right{ width:270px;}	


*/


/*


#top .top_summary{
	border:5px solid #EEE;
	background:url(../images/top/top-guide_illst.png) 15px 15px no-repeat;
	padding:10px 10px 10px 110px;}

#top .top_summary p.tel_no{ font-size:28px; font-family:"Century Gothic";}

#top #top_map{
	border:5px solid #EEE;
	text-align:center;
	padding:10px 0 5px 0;
}
#top #top_map h2{
	font-size:18px;
	text-align:center;
	color:#3A3A3A;
	
	}
	*/


/*-----------------------------------------------------------------------------------

 ドライフラワー加工

-------------------------------------------------------------------------------------*/

#dryflower {}

#dryflower .tbl_type {
	border-collapse: collapse;
}

#dryflower .tbl_type th,
#dryflower .tbl_type td {
	padding: 3px;
	vertical-align: top;
}

#dryflower .tbl_type th {
	text-align: center;
}

#dryflower .tbl_type td {
	text-align: left;
	font-size: 13px;
	padding-right: 15px;
}


/*-----------------------------------------------------------------------------------

 オーダーメイド・プリザーブド

-------------------------------------------------------------------------------------*/

.gallery_box {
	clear: both;
	zoom: 100%;
}

.gallery_box:after {
	content: "";
	display: block;
	clear: both;
}

.gallery_box ul {}

.gallery_box ul li {
	float: left;
	margin: 0 10px 10px 0;
	width: 128px;
	/*height:128px;*/
	border: 10px solid #EEE;
	text-align: center;
}

.gallery_box ul li.gallery_box ul li {
	display: block;
	/*width: 128px;
	height:128px;*/
}

.gallery_box ul li a img {
	width: 100%;
	/*width:108px;
	height:108px;


	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;*/
}

.interior_box ul li {
	border: none;
	background: #fff;
}

.order_area{
	text-align: center;
}
.order_area .btn_order{
	margin-top: 20px;
}
.order_area .btn_order a{
	text-align: center;
	display: inline-block;
	padding: 10px 30px;
	background: #554228;
	color: #fff;
	font-size: 20px;
}
.order_area .btn_order a:hover{
	text-decoration: none;
}

/*　受注制作　*/

#order .navi {
	clear: both;
	zoom: 100%;
}

#order .navi:after {
	content: "";
	display: block;
	clear: both;
}

#order .navi ul {
	list-style-type: none;
}

#order .navi ul li {
	margin-bottom: 10px;
}

#order .navi li a {
	display: block;
	padding: 5px;
	color: #000;
	/*background:#F4F5E6;*/
	border-bottom: 1px dotted #949494;
}

#order .navi li a:hover {
	text-decoration: none;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

#order .navi li a {
	line-height: 55px;
}

#order .navi li a img {
	margin-right: 15px;
	border: solid #FFF 5px;
}


/*　流れ　（受注の流れと共用）*/

.flow_chart {
	clear: both;
	zoom: 100%;
}

.flow_chart:after {
	content: "";
	display: block;
	clear: both;
}

.flow_chart h4 {
	width: 160px;
	padding: 25px;
	text-align: center;
	/*background:#87CBBD;*/
	background: #554228;
	color: #FFF;
}

.flow_chart p {}

.flow_chart td {
	padding: 25px 0 0 0;
}

.flow_chart td.arrow {
	padding: 5px;
	text-align: center;
}

#flow_order .flow_chart h4 {
	width: auto;
}


/*-----------------------------------------------------------------------------------

 レッスン

-------------------------------------------------------------------------------------*/

.sakuhin {
	clear: both;
	zoom: 100%;
}

.sakuhin:after {
	content: "";
	display: block;
	clear: both;
}

.sakuhin ul li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.sakuhin ul li {}

#lesson .summary {
	background: #DCEDF7;
	padding: 15px;
	border: solid 10px #9FC9E0;
}

#lesson .summary h4 {
	text-align: center;
	background: none;
	color: #4985B5;
}

#lesson .icon {
	text-align: right;
}

#license .list ul {
	list-style-type: circle;
	margin-left: 20px;
}

#license .list ul li {
	margin-bottom: 10px;
}


/*============================

インテリアフラワー

=============================*/

.situation {
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
}

.situation:first-child {
	margin-top: 0;
}


/*-----------------------------------------------------------------------------------

　ブログ

-------------------------------------------------------------------------------------*/


/*
#pager{}
#pager span{
	display:inline-block;
	padding:5px;
	border:1px solid #EEE;}
#pager span:hover{
	cursor:pointer;
}

*/


/*-----------------------------------------------------------------------------------

 お問い合わせ

-------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------

 プライバシーポリシー

-------------------------------------------------------------------------------------*/

#privacy {}

#privacy .txt {
	margin: 15px 20px 30px 10px;
}


/*-----------------------------------------------------------------------------------

 よくあるご質問

-------------------------------------------------------------------------------------*/


/*

.faq p.a_txt {
margin: 20px auto 30px auto;
background: url(../images/faq/icon_a.jpg) no-repeat scroll 0 0;
padding-left: 2em;
}

.faq h4{
	border:0;
	border-bottom:1px dotted #666;

	}

.faq .answer h4 {
	background: url(../images/faq/icon_q.jpg) no-repeat scroll 0 0;
	padding:0px 0 0  2em;
	margin:40px auto 0 auto;
	border: dotted #666;
	border-width: 0 0 1px 0;
	color:#333;

}




.faq ul {
text-align: left;
margin-left: 20px;
list-style-type: none;
}
.q_list{
	}

.faq ul.q_list li {
background: url(../images/faq/icon_q.jpg) no-repeat scroll 0 5px;
padding-left: 2em;
font-size: 17px;
line-height: 200%;
}


.faq ul.q_list li a {
color:#666;
text-decoration: none;
}


.faq ul.q_list li a:hover {
text-decoration: underline;
}



.faq .border {
border: 6px solid #f2f2f2;
padding: 1em;
margin: 0  auto 30px auto;
}


.faq .border ol {
padding-left: 2em;
}

.faq .answer{
	border-top:5px solid #E0D7CB;
	padding-top:20px;
}


.b_sps {
margin-bottom: 30px;
}
*/


/*-----------------------------------------------------------------------------------

 サイトマップ

-------------------------------------------------------------------------------------*/


/*
#sitemap .{}
#sitemap .sub_box{ 
padding-bottom:30px;
margin-bottom:55px;
}

#sitemap .sub_box ul{
	list-style-type:disc;
	margin:0 30px 0 30px;}
#sitemap .sub_box ul li{
	border-bottom:1px solid #DDD;
	padding-left:0px;
	}
#sitemap .sub_box ul li a{
	display:block;
	padding:13px 10px 10px 0px;
	color:#333;
	font-size:17px;
	}
#sitemap .sub_box ul li a:hover{
	color:#06F;
	text-decoration:underline;
	}	

#sitemap .sub_box ul li ol{ list-style-type:none; }

#sitemap .sub_box ul li ol a{
	padding:13px 10px 8px 0px;
	color:#333;
	font-size:15px;
	}

*/

.sub_navi {
	margin-bottom: 15px;
	clear: both;
	zoom: 100%;
}

.sub_navi:after {
	content: "";
	display: block;
	clear: both;
}

.sub_navi ul {
	list-style-type: none;
}

.sub_navi ul li {
	float: left;
	margin: 0 10px 0 0;
}

.sub_navi ul li a {
	display: block;
	padding: 7px;
	background: #EEE;
	font-size: 15px;
	color: #000;
}

.sub_navi ul li a:hover {
	text-decoration: none;
	background: #CCC;
}

.sub_navi ul li.current a {
	background: #CCC;
}
