/* クチュールフローラ講座 */


#sub_left {
  height:5034px;
}

#couture {
  margin:0 auto 100px auto;
}

#couture h4 {
  padding-top:13px;
  margin:0 auto 30px auto;
}

#couture h5 {
  margin:30px auto 10px auto;
}

#couture h6 {
  margin:30px auto 10px auto;
}

#couture p {
  letter-spacing:0;
}

#couture p.top_txt {
  width:590px;
  color:#CC3300;
  margin:0 auto;
  text-align:left;
}

#couture p.btn {
  margin:50px auto 0 auto;
}

#couture p.txt {
}

#couture p.contact_txt {
  width:440px;
  text-align:left;
  margin:0 auto 30px auto;
}

#couture p.contact_txt img {
  vertical-align:baseline;
}

#couture ul {
}

#couture li {
}

.flore_box {
  width:600px;
  height:230px;
  background:url(../img/couture/pic01.jpg) no-repeat scroll right bottom;
  margin:20px auto;
  text-align:left;
}

.flore_box p {
  width:372px;
  margin:10px auto 0 0;
  text-align:left;
}

.flore_box p.title {
  padding-top:60px;  
}

.artist_box {
  width:600px;
  height:330px;
  background:url(../img/couture/pic02.jpg) no-repeat scroll right top;
  margin:20px auto;
  position:relative;
  text-align:left;
}

.artist_box p {
  width:372px;
  margin:10px auto 0 0;
  text-align:left;
}

.artist_box p.title {
}

.artist_box p.artist_txt {
  position:absolute;
  right:15px;
  bottom:12px;
  width:180px;
  text-align:center;
  font-size:85%;
}

.lesson_box {
  width:600px;
  margin:0 auto 20px auto;
  
}

.lesson_box p.lesson_txt {
  width:556px;
  margin:10px auto;
  border:1px solid#8F3A63;
  background-color:#F3E2EA;
  padding:5px 12px;
  text-align:left;
}

.lesson_box div.txt_area {
  width:320px;
  margin:0 auto 0 260px;
}

.lesson_box div.txt_area h6.curriculum_title {
  font-size:108%;
  width:319px;
  height:26px;
  background:url(../img/couture/title_curriculum_bg.jpg) no-repeat scroll 0 0;
  text-align:left;
  padding:0.2em 0 0 1em;
}

.lesson_box div.txt_area p {
  text-align:left;
  width:310px;
  margin:0 0 0 auto;
} 

.lesson_box div.txt_area ul.curriculum_txt {
  width:290px;
  margin:5px 0 10px auto;
  text-align:left;
  list-style-type:none;
}

.lesson_box div.txt_area ul.curriculum_txt li {
  border:dotted #D39AB3;
  border-width:0 0 1px 0;
}

.lesson_box div.lesson_bg01 {
  background:url(../img/couture/lesson_pic01.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg02 {
  background:url(../img/couture/lesson_pic02.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg03 {
  background:url(../img/couture/lesson_pic03.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg04 {
  background:url(../img/couture/lesson_pic04.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg05 {
  background:url(../img/couture/lesson_pic05.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg06 {
  background:url(../img/couture/lesson_pic06.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg07 {
  background:url(../img/couture/lesson_pic07.jpg) no-repeat scroll 10px 0;
}

.lesson_box div.lesson_bg08 {
  background:url(../img/couture/lesson_pic08.jpg) no-repeat scroll 10px 0;
}


