/* イベント情報 */


#sub_left {
  height:1210px;
}

#event {
  margin:0 auto 50px auto;
}

#event h4 {
}

#event h4.title02 {
  margin:60px auto 0 auto;
}

#event h5 {
  margin:30px auto 30px 30px;
  text-align:left;
}

#event h6 {
}

#event p {
  text-align:left;
}


#event p.pic_r {
  text-align:right;
  margin:30px 70px 0 auto;
}

#event p.pic_l {
  margin:30px auto 0 40px;
}

#event ul {
}

#event li {
}

#event p.txt {
  margin:0 auto;
  width:520px;
  
}

#event table.event_tb {
  width:80%;
  margin:0 auto 30px auto;
  border-collapse:collapse;
}

#event table.event_tb th {
  width:20%;
  text-align:center;
  border:1px solid #CCCCCC;
  padding:0.2em 0;
  background-color:#C1668D;
  color:#FFFFFF;
}

#event table.event_tb td {
  text-align:left;
  padding:0.2em 0 0.2em 1em;
  border:1px solid #CCCCCC;
}

#event div#display_bg {
  width:580px;
  height:320px;
  background:url(../img/event/display_pic01.jpg) no-repeat scroll 0 0;
  margin:30px auto 0 auto;
}

#event div#display_bg p {
  margin:0 auto 0 200px;
  padding-top:1em;
}
