/* プリズムスタジオ */


#sub_left {
  height:2466px;
}

#prism {
  margin:0 auto 100px auto;
}

#prism h4 {
  padding-top:13px;
  margin:30px auto 30px auto;
}

#prism h5 {
  width:260px; 
  margin:30px auto 10px 10px;
}

#prism h6 {
  margin:30px auto 10px auto;
}

#prism p {
  letter-spacing:0;
}

#prism p.top_txt {
  margin:0 auto 20px auto;
  padding-top:12px;
}

#prism p.top_txt02 {
  width:530px;
  margin:0 auto;
  color:#CC3300;
  text-align:left;
}

#prism p.contact_txt {
  width:440px;
  text-align:left;
  margin:0 auto 30px auto;
}

#prism p.contact_txt img {
  vertical-align:baseline;
}

#prism p.btn {
  text-align:center;
  margin:50px auto;
}

#prism p.txt {
}

#prism ul {
}

#prism li {
}

.prism_box {
  width:621px;
  height:1092px;
  margin:20px auto;
  background:url(../img/prism/prism_bg.jpg) no-repeat scroll 0 0;
}

.prism_box p {
  width:250px;
  margin:0 auto 0 14px;
  text-align:left;
}

.prism_box p.pic {
  margin-top:20px;
}

.waku {
  width:586px;
  margin:30px auto;
  border:1px solid #E186A4;
  background-color:#FFF0F8;
  padding:1em;
  
}

.waku p {
  width:560px;
  margin:0 auto 20px auto;
  background:url(../img/prism/list_head.jpg) no-repeat scroll 0 6px;
  border:dotted #E2BACB;
  border-width:0 0 1px 0;
  text-align:left;
  padding-left:1em;
}

