div.content {
  text-align: center;
}

div.update_forms {
  background: #FFF;
  border: 1px solid #CCC;
  width: 300px;
  padding: 1em;
  margin-top: 1em;
  margin-left: 1em;
}

#photo_display img {
  width: 160px;
}

textarea {
  width: 160px;
  height: 10em;
}

div.buttons {
  text-align: right;
}

#update_message {
  display: inline;
  opacity: 0;
}

#photo_form {
  text-align: right;
  margin-bottom: 2em;
}


