/* オーダーメイド・プリザーブドフラワー */


#sub_left {
  height:1337px;
}

#preserved {
  margin:0 auto 50px auto;
}

#preserved h4 {
}

#preserved h5 {
  margin:30px auto 30px auto;
}

#preserved h6 {
}

#preserved p {
  text-align:left;
  letter-spacing:0;
}

#preserved p.top_txt {
  margin:20px auto;
  text-align:center;
}

#preserved p.txt {
  color:#CC3300;
  width:580px;
  margin:0 auto;
}

#preserved ul {
}

#preserved li {
}

.gallery_box {
  width:600px;
  margin:20px auto;
}

.gallery_box p.pic {
  float:left;
  display:inline;
  margin:0 10px 30px 10px;  
}

.flow_title {
  width:577px;
  height:21px;
  margin:10px auto 0 auto;
}

.flow_bg_main {
  width:577px;
  margin:0 auto;
  background:url(../img/preserved/flow_bg_main.jpg) repeat-y;
}

.flow_bg_main p {
  width:530px;
  margin:0 auto;
  padding:10px 0;
}

.flow_bg_bottom {
  width:577px;
  height:10px;
  background:url(../img/preserved/flow_bg_bottom.jpg) no-repeat scroll 0 0;
  margin:0 auto;
}

p.arrow {
  width:25px;
  height:28px;
  text-align:center;
  background:url(../img/preserved/arrow.jpg) no-repeat scroll 0 0;
  margin:10px auto 0 auto;
}


