/* CSS Document */


/*Twitter----------------------------------------------*/
#twitter{
	overflow: auto;
}

#twitter li{
	padding: 8px;
	margin: 0 0 20px 0;
	white-space: nowrap;
	border: 1px solid #e5e5e5;
	white-space: normal;
	text-align:left;
}

#twitter li span.name{
	font-size: 90%;
	color: #3f91b1;
}

#twitter li span.time{
	font-style: italic;
	color: #999;
	font-size: 90%;
}
