/* レストランウエディング */


#sub_left {
  height:1513px;
}

#wedding {
  margin:0 auto 50px auto;
}

#wedding h4 {
  margin-top: 3px;
}

#wedding h5 {
  margin:30px auto 30px auto;
}

#wedding h5.box_title {
  width:577px;
  height:21px;
  margin:30px auto 0 auto;
}

#wedding h6 {
}

#wedding p {
}

#wedding p.top_txt {
  width:560px;
  margin:30px auto;
  text-align:left;
}

#wedding ul {
}

#wedding li {
}

#wedding div#photo {
  margin:60px auto 80px auto;
}

#wedding div#photo p.txt {
  width: 560px;
  text-align: left;
  margin: 0 auto 10px auto;
  color: #666;
  }

#wedding div#photo div.row {
  width: 580px;
  margin: 0 auto 20px auto;
}

#wedding div#photo div.row div.sub {
  width: 190px;
  height: 190px;
  padding: 5px 0 0 0;
  background: url(../img/wedding/pic_bg.jpg) no-repeat scroll top center;
  float: left;
  display: inline;
}

#wedding div#photo div.row div.sub p {
}

#wedding div#photo div.row div.l_sps {
  margin-left: 5px;
}