<div class="content">
  <form method="post" autocomplete="off">
    <div class="row">
      <div>Login-Id</div>
      <div class="input"><input type="text" name="username" value="" /></div>
    </div>
    <div class="row">
      <div>Login-Password</div>
      <div class="input"><input type="password" name="password" value="" /></div>
    </div>
    <div class="buttons">
      <input type="submit" value="Login" />
    </div>
  </form>
</div>
<div class="note">
  <p>管理サイトの操作には、Firefox/Safari/Gogle Chromeの最新版、<br />
  または、Internet Explorer8以上をご利用ください。</p>
</div>
