/* お問い合わせ */


#sub_left {
  height:1759px;
}

#sub_left ul.link_menu {
  width:183px;
  height:120px;
  list-style-type:none;
  text-align:left;
  margin:4px auto 20px auto;
  background:url(../img/contact/link_menu_bg.jpg) no-repeat scroll 0 0;
  padding-top:1em;
}

#sub_left ul.link_menu li {
  width:160px;
  border:dotted #CC6699;
  border-width:0 0 1px 0;
  background:url(../img/contact/list_head.jpg) no-repeat scroll 0 5px;
  padding-left:14px;
  margin:0 auto 10px auto;
}

#contact {
  margin:0 auto 100px auto;
}

#contact h4 {
  padding-top:13px;
  margin:30px auto 30px auto;
}

#contact h5 {
  width:260px; 
  margin:30px auto 10px 10px;
}

#contact h6 {
  margin:30px auto 10px auto;
}

#contact p {
  letter-spacing:0;
}

#contact p.top_txt {
  width:540px;
  margin:0 auto;
  text-align:left;
}

#contact p.btn {
  text-align:center;
  margin:50px auto;
}

#contact p.txt {
}

#contact ul {
}

#contact li {
}

table.contact_tb {
  width:538px;
  margin:30px auto;
  border:1px solid #CC99CC;
  border-collapse:collapse;
}

table.contact_tb caption {
  text-align:left;
}

table.contact_tb th {
  width:30%;
  background-color:#E8D0E8;
  border:1px solid #CC99CC;
  padding:8px 0 8px 12px;
  text-align:left;
  font-weight:normal;
}

table.contact_tb td {
  text-align:left;
  padding:8px 0 8px 12px;
  border:1px solid #CC99CC;
}

table.contact_tb td.no_pd {
  border-width:0 0 0 0;
}


input.box{
	border:1px #669999 solid;
	}
input.box_on{
	border:1px #C1C1C1 solid;
	background-color:#FDF2D5;
	}
textarea.box{
	border:1px #669999 solid;
	font-size:13px;
	}
textarea.box_on{
	border:1px #C1C1C1 solid;
	background-color:#FDF2D5;
	font-size:13px;
	}
	
.e_tb{
	background-color:#FFFFFF;
	text-align:center;
	margin:60px auto 200px auto;
	font-size:13px;
	}
.e_tb2{
	background-color:#FFFFFF;
	width:350px;
	text-align:center;
	margin:60px auto 200px auto;
	}
.e_tb2 td.sps_td{
	height:20px;
	}
.e_tb2 td{
	padding:10px 0 10px 0;
	font-size:13px;
	}

