/* フラワースクール */


#sub_left {
  height:4058px;
}

#school {
  margin:0 auto 50px auto;
}

#school h4 {
}

#school h5 {
  margin:30px auto 30px auto;
}

#school h6 {
  margin:30px auto 20px auto;
}

#school p {
  text-align:left;
  letter-spacing:0;
}

#school p.top_txt {
  margin:20px auto;
  text-align:center;
}

#school p.txt {
  color:#CC3300;
  margin:0 auto;
}

#school p.lesson_top_txt {
  color:#CC3399;
  margin:0 auto;
  width:560px;
  font-size:11px;
}

#school p.end_txt {
  color:#CC3300;
  margin:0 auto;
  width:560px;
}

#school p.explanation {
  font-size:77%;
  color:#777777;
  width:600px;
  font-weight:bold;
  margin:0 auto;
}

#school ul.bnr {
  margin:0 auto;
  list-style-type:none;  
}

#school ul.bnr li {
  height:50px;
  float:left;
  display:inline;
  margin-left:6px;
  margin-bottom:30px;
}

#school ul.bnr li.start {
  margin-left:8px;
}

#school ul.bnr li.end {
  margin-left:6px;
}

#comment_box {
  width:605px;
  margin:20px auto 20px auto;
}

#comment_box p.pic {
  width:150px;
  float:left;
  display:inline;
  margin:0 auto;
}

.txt_area {
  width:580px;
  float:left;
  display:inline;
  margin:0 auto 0 20px;
}

.link_box {
  width:612px;
  margin:0 auto;
}

.link_box p.btn {
  width:200px;
  float:left;
  display:inline;
  margin:0 2px 4px 2px;  
}

.course_box {
  width:605px;
  height:180px;
  text-align:left;
  margin:0 auto 20px auto;
}

.course_box p.m_title {
  width:358px;
  font-size:115%;
  font-weight:bold;
  background:url(../img/school/arrow.jpg) no-repeat scroll 0 4px;
  border:dotted #E3BFCE;
  border-width:0 0 1px 0;
  padding-left:20px;
  margin-bottom:10px;
}

.course_box p.course_txt {
  width:346px;
  padding-left:12px;
}

.course_box p.icon {
  margin:10px auto 0 auto;
  padding-left:12px;
  text-align:left;
}

.course_bg01 {
  width:605px;
  height:180px;
  background:url(../img/school/course_pic01.jpg) no-repeat scroll right bottom;  
}

.course_bg02 {
  width:605px;
  height:180px;
  background:url(../img/school/course_pic02.jpg) no-repeat scroll right bottom;  
}

.course_bg03 {
  width:605px;
  height:180px;
  background:url(../img/school/course_pic03.jpg) no-repeat scroll right bottom;  
}
  

.lesson_box {
  width:592px;
  height:252px;
  background:url(../img/school/lesson_box_bg.jpg) no-repeat scroll 0 0;
  margin:0 auto 30px auto;
}

.lesson_box p {
  width:560px;
  margin:0 auto;
  padding-top:60px;
}

.lesson_box p.lesson_txt02 {
  width:560px;
  margin:0 auto;
  padding-top:1em;
}

.lesson_box p.btn {
  width:425px;
  text-align:center;
  padding-top:0px;
  margin:20px auto 0 auto;
}

.lesson_box_m {
  width:592px;
  height:212px;
  background:url(../img/school/lesson_box_bg_m.jpg) no-repeat scroll 0 0;
  margin:0 auto 30px auto;
}

.lesson_box_m p {
  width:560px;
  margin:0 auto;
  padding-top:60px;
}

.lesson_box_m p.lesson_txt02 {
  width:560px;
  margin:0 auto;
  padding-top:1em;
}

.lesson_box_m p.btn {
  width:425px;
  text-align:center;
  padding-top:0px;
  margin:20px auto 0 auto;
}

.lesson_box_s {
  width:592px;
  height:182px;
  background:url(../img/school/lesson_box_bg_s.jpg) no-repeat scroll 0 0;
  margin:0 auto 30px auto;
}

.lesson_box_s p {
  width:560px;
  margin:0 auto;
  padding-top:60px;
}

.lesson_box_s p.btn {
  width:425px;
  text-align:center;
  padding-top:0px;
  margin:40px auto 0 auto;
}

.lesson_box_l {
  width:592px;
  height:480px;
  background:url(../img/school/lesson_box_bg_l.jpg) no-repeat scroll 0 0;
  margin:0 auto 30px auto;
}

.lesson_box_l p {
  width:560px;
  margin:0 auto;
  padding-top:60px;
}

.lesson_box_l p.lesson_txt02 {
  width:560px;
  margin:0 auto;
  padding-top:1em;
}

.lesson_box_l p.pic {
  width:560px;
  text-align:right;
  margin:0 auto 0 90px;
  padding-top:3em;
}

.lesson_box_l p.btn {
  width:425px;
  text-align:center;
  padding-top:0px;
  margin:20px auto 0 auto;
}

.work {
  width:593px;
  margin:0 auto 30px auto;
}

.work p.work_title {
  margin:0 auto 20px auto;
}

