body {
  font-size: 13px;/*   モダンブラウザ向け */
  *font-size: small;/* IE 7向け */
  *font: x-small;/*    IE 6以下 */
  color: #333;
}

th, td, textarea {
  font-size: 13px;/*   モダンブラウザ向け */
  *font-size: small;/* IE 7向け */
  *font: x-small;/*    IE 6以下 */
}

br { letter-spacing: normal; }
img { border: 0; }

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

input, textarea {
}

div.clear {
  clear: both;
}

div.clear_left {
  clear: left;
}

#container {
  width: 960px;
  margin: auto;
  background: #404040;
  border: 1px solid #000;
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
}

h1 {
  font-size: 1.2em;
  margin: 0;
  border-bottom: 1px solid #999;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #FFF;
}

#menu {
}

#menu li {
  display: inline-block;
  margin-left: 1em;
  padding: 0.5em;
}

#menu li:hover {
  background: #999;
}

#menu li a {
  text-decoration: none;
  color: #FF9;
  font-weight: bold;
}

#menu li a:hover {
  color: #FFF;
}

