/* プライバシーポリシー */


#sub_left {
  height:1009px;
}

#privacy {
  margin:0 auto 50px auto;
}

#privacy h4 {
}

#privacy h5 {
  margin:30px auto 30px auto;
}

#privacy h5.box_title {
  width:577px;
  height:21px;
  margin:30px auto 0 auto;
}

#privacy h6 {
}

#privacy p {
}

#privacy p.top_txt {
  width:560px;
  margin:30px auto;
  text-align:left;
}

#privacy ul {
}

#privacy li {
}

.box_bg_main {
  width:577px;
  margin:0 auto;
  background:url(../img/privacy/box_bg_main.jpg) repeat-y scroll 0 0;
  padding:10px 0;
}

.box_bg_main p {
  width:530px;
  margin:0 auto;
  text-align:left;
}

.box_bg_main ul {
  width:500px;
  text-align:left;
  margin:10px auto 0 auto;
}

.box_bg_bottom {
  width:577px;
  height:10px;
  background:url(../img/privacy/box_bg_bottom.jpg) no-repeat scroll 0 0;
  margin:0 auto 30px auto;
}

