/* サイトマップ */


#sub_left {
  height:591px;
}

#sitemap {
  margin:0 auto 100px auto;
}

#sitemap h4 {
  margin:0 auto 30px auto;
}

#sitemap h5 {
  width:260px; 
  margin:30px auto 10px 10px;
}

#sitemap h6 {
  margin:30px auto 10px auto;
}

#sitemap p {
  letter-spacing:0;
}

#sitemap p.txt {
}

#sitemap ul {
}

#sitemap li {
}

p.sitemap_txt01 {
  width:566px;
  height:20px;
  background:url(../img/sitemap/sitemap_bg01.jpg) no-repeat scroll 0 0;
  margin:80px auto 30px auto;
  text-align:left;
  padding-left:1em;
}

p.sitemap_txt02_l {
  width:274px;
  height:20px;
  float:left;
  display:inline;
  background:url(../img/sitemap/sitemap_bg02.jpg) no-repeat scroll 0 0;
  margin:20px auto 20px 26px;
  padding-left:1em;
  text-align:left;
}

p.sitemap_txt02_r {
  width:274px;
  height:20px;
  float:left;
  display:inline;
  background:url(../img/sitemap/sitemap_bg02.jpg) no-repeat scroll 0 0;
  margin:20px auto 20px auto;
  padding-left:1em;
  text-align:left;
}
