div.content {
  margin: 2em auto;
  padding: 2em;
  border: 1px solid #999;
  background: #FFF;
}

li {
  clear: both;
}

li span {
  display: inline-block;
  /* border: 1px solid #000; */
  padding: 0.5em;
}

span.rows_head {
  display: inline-block;
  text-align: center;
  width: 6em;
  padding: 0.5em;
  font-weight: bold;
  color: #666;
}

#rows_head_date {
  width: 100px;
}

#rows_head_title {
  width: 300px;
}

#rows_head_edit {
  width: 4em;
}

#rows_head_remove {
  width: 4em;
}

span.date {
  text-align: center;
  width: 100px;
}

span.title {
  width: 300px;
}

span.edit,
span.remove,
span.insert {
  width: 4em;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

span.insert {
  width: 6em;
}

span.remove_using {
  width: 3em;
  text-align: center;
  opacity: 0;
  text-decoration: line-through;
  color: #333;
}

li:hover {
  background: #999;
  color: #FFF;
}

li:hover span.edit,
li:hover span.remove_using,
li:hover span.remove,
li:hover span.insert {
  opacity: 1;
}

li span.edit:hover,
li span.remove:hover,
li span.photo:hover,
li span.map:hover,
li span.insert:hover {
  color: #FFAE00;
}

#remove_confirm {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
  position: absolute;
  width: 300px;
  background: #EEE;
  border: 1px solid #999;
}

#remove_confirm h4 {
  margin: 0;
  padding: 0.4em;
  padding-left: 1em;
  border-bottom: 1px solid #999;
}

#remove_contents {
  padding: 1em;
}

#remove_confirm div.buttons {
  text-align: right;
}

#remove_confirm div.buttons input {
  margin: 0.5em;
}

#edit_block {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
  position: absolute;
  width: 900px;
  background: #EEE;
  border: 1px solid #999;
}

#edit_block h4 {
  margin: 0;
  padding: 0.4em;
  padding-left: 1em;
  border-bottom: 1px solid #999;
}

#edit_block div.inputs label {
  display: inline-block;
  width: 6em;
  text-align: right;
  margin-right: 0.5em;
}

#edit_contents {
  padding: 1em;
}

#edit_block div.buttons {
  text-align: right;
}

#edit_block div.buttons input {
  margin: 0.5em;
}

div.add {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#add {
  font-weight: bold;
  cursor: pointer;
  color: #836201;
  border: 1px solid #EEE;
  padding: 0.4em;
}

#add:hover {
  color: #FDDB00;
  background: #999;
}

div.price {
  float: left;
  width: 250px;
}

div.inputs div {
  margin-bottom: 0.5em;
}

div.inputs input {
  width: 170px;
}

div.inputs textarea {
  width: 300px;
  vertical-align: middle;
}

div.group_01 {
  float: left;
}

div.inputs div.group_01 input {
  width: 120px;
}

div.group_02 {
  float: left;
}

#category_block {
  margin-bottom: 1em;
  height: 2em;
}

#disp_category {
  font-weight: bold;
  cursor: pointer;
  color: #836201;
  border: 1px solid #EEE;
  padding: 0.4em;
}

#disp_category:hover {
  color: #FDDB00;
  background: #999;
}

#disp_category img {
  vertical-align: bottom;
  margin-left: 0.5em;
}

#category_add,
#category_edit_ok,
#category_edit_cancel {
  font-weight: bold;
  color: #999;
  cursor: pointer;
  margin-left: 1em;
}

#category_add:hover,
#category_edit_ok:hover,
#category_edit_cancel:hover {
  color: #C33;
}

#edit_category {
  width: 15em;
}

#category_rows {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
  position: absolute;
  background: #FFF;
  border: 1px solid #999;
  z-index: 2;
}

#category_rows li {
  cursor: pointer;
}

#category_rows li span {
  padding: 0.2em;
}

.category_row span.name {
  min-width: 150px;
}

#category_remove_confirm {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
  position: absolute;
  width: 300px;
  background: #EEE;
  border: 1px solid #999;
  z-index: 3;
}

#category_remove_confirm h4 {
  margin: 0;
  padding: 0.4em;
  padding-left: 1em;
  border-bottom: 1px solid #999;
}

#category_remove_contents {
  padding: 1em;
}

#category_remove_confirm div.buttons {
  text-align: right;
}

#category_remove_confirm div.buttons input {
  margin: 0.5em;
}

#category_select_block {
  margin-bottom: 1em;
}

#ui-datepicker-div {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
}

#date {
  text-align: center;
  width: 6em;
}

#title {
  width: 30em;
}

#text {
  width: 30em;
  height: 10em;
}

#edit_contents_left {
  display: inline-block;
  vertical-align: top;
}

#edit_contents_right {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width: 280px;
}

#photo_list {
  height: 250px;
  overflow: auto;
}

#photo_list li {
  margin: 2px;
}

#photo_list img.thumb {
  width: 100px;
  vertical-align: middle;
}

#photo_list span {
  vertical-align: middle;
}

#category_rows img {
  vertical-align: middle;
}




