/*¨β’Ή


-------------------------------------------------------------------------------------*/




#tel_contact{
	}
#tel_contact .sub{
	float:left;
	width:300px;
	height:100px;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #DDD;
	text-align:center;
}
#tel_contact .sub h4{
	padding:5px;
}





#contact .rei{color:#999; font-size:12px;}
#contact .kome{	color:#FF0000;	}
#contact .hissu{
	color:#FFFFFF;
	font-size:11px;
	background-color:#FF0000;
	line-height:1.1em;
	}
#contact .box_tel{
	padding:30px;
	margin-bottom:15px;
	
	
	background-color: #FFF;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #FFF), color-stop(0.00, #EEE));
     background: -webkit-linear-gradient(#FFF, #EEE);
     background: -moz-linear-gradient(#FFF, #EEE);
     background: -o-linear-gradient(#FFF, #EEE);
     background: -ms-linear-gradient(#FFF, #EEE);
     background: linear-gradient(#FFF, #EEE);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#EEE', GradientType=0);
	 text-align:center;
	 border:10px solid #FF9; 
	
	}

#contact .box_tel p{
	font-size:34px;
	color:#630;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	}
.tbl_layout{}
.tbl_layout th,
.tbl_layout td{
	padding:5px;
	}

.tbl_form th{
/*	background:#EEE;*/
	padding:8px;	
	font-weight:normal;
	text-align:center;
	vertical-align:top;
	border-bottom:1px solid #DDD;
	line-height:1.3em;
	border-collapse:collapse;
	}
.tbl_form td{
	padding:8px;
	line-height:1.3em;
	border-bottom:1px solid #DDD;	
	}
	

.tbl_form td.select_area{
	line-height:1.8em;
	}
.tbl_form td.select_area input{
	margin-right:3px;
}

input.sizeS{ width:80px; height:20px;}
input.sizeM{ width:200px; height:20px;}
input.sizeL{ width:350px; height:20px;}

textarea.textarea{
	width:90%;
	height:150px;
	}

.err_txt{ font-size:11px; color:#FF0000;}

.btn_form{
	text-align:center;
	padding:10px;}
	
.btn_form input{
	padding:10px 50px 10px 50px;
	text-align:center;
	font-size:14px;
	cursor:pointer;
	}

#contact .bg_rd{ background-color:#FFDFDF;} 
#contact .err_txt{ font-size:11px; color:#FF0000;}


.tbl_form input[type="text"],
.tbl_form input[type="password"],
.tbl_form textarea,
.tbl_form select{
	vertical-align:middle;
	max-width:90%;
	line-height:30px;
	height:30px;
	padding:1px 5px;
	border:1px solid #d4d4d7;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	font-size:100%;
	color:#555;
	background:#fcfcfc;
}

.tbl_form textarea{
height:auto;
line-height:1.5;
}

/*
.btn_form{
	text-align:center;}
.btn_form input{
	padding:10px 50px 10px 50px;
	text-align:center;
	font-size:14px;
	cursor:pointer;
	}
.btn_form{
	text-align:center;}
.btn_form button{
	padding:10px 50px 10px 50px;
	text-align:center;
	font-size:14px;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	}

*/


/**/




























.box_form{}
.box_form h5{
	font-size:18px;
	color:#000;
	background:url(../img/h5.png) no-repeat 10px 15px;
	padding:10px 0 0px 28px;
	margin-bottom:8px;
	}

/*tH[e[u*/
.box_form table{
	border-collapse:collapse;
	margin-bottom:20px;
}
/*
.box_form table th,
.box_form table td{
	border:#DDD solid !important;
	padding:8px 5px;
	line-height:1.2em;
	vertical-align:top;
}
.box_form table th{

	vertical-align:middle;
	
	background-color:#EEE !important;
	font-weight:bold !important;
	font-size:17px !important;
	border-width:1px 0px 1px 1px !important;
	}
.box_form table th.icon{
	border-width:1px 1px 1px 0px  !important;
	}
.box_form table td{
	border-width:1px 1px 1px 1px !important;
	}
	


.box_form table table{ margin:0;}
.box_form table table th,
.box_form table table td{
	vertical-align:middle;
	padding:0 5px 3px 5px;
	border:0;
	}
.box_form table table th{ text-align:center; vertical-align:middle;}	

*/


.td_color input{
	margin-bottom:10px;
	
	}


/*G[*/	
.box_form .err_txt{ font-size:11px; color:#FF0000;}

/*
inputΦA*/
label{ display:block;}
label:hover{ cursor:pointer;}
input[type="radio"]{cursor:pointer;}

.box_form input[type="text"],
.box_form select,
.box_form textarea{
	border:0;
	padding:3px;
	font-size:1.0em;
	color:#333;
	border:solid 1px #AAA;
	margin:0 0 3px;
	width:300px;
	font-family:"qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "CI", Meiryo, Osaka, "lr oSVbN", "MS PGothic", sans-serif;
	color:#666;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
.box_form select{width:80px;}

.box_form input:focus,
.box_form textarea:focus{
    border:solid 1px #EEA34A;
/*	padding:3px;*/
	color:#333;
}

/*
.box_form .btn{ text-align:center; padding:10px;}
.box_form .btn input{
	text-align:center;
	border:solid 1px #FFF;
	padding:20px 90px;
	margin:0 auto 20px auto;
	font-size:30px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;	

	font-family:"qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "CI", Meiryo, Osaka, "lr oSVbN", "MS PGothic", sans-serif;

	background-color:#F60;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #F90), color-stop(0.00, #F60));
	background: -webkit-linear-gradient(#F90, #F60);
	background: -moz-linear-gradient(#F90, #F60);
	background: -o-linear-gradient(#F90, #F60);
	background: -ms-linear-gradient(#F90, #F60);
	background: linear-gradient(#F90, #F60);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F90', endColorstr='#F60', GradientType=0);

	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

	}
.box_form .btn input:hover{
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;	
	}
*/

	
.box_form input.sizeS{ width:100px;}


/*@¨β’νΉBOX@\ρκpέθ
-----------------------------------------------------------------------------------------------------------------------------------------*/

#contact .tel_box{	}
#contact .tel_box h5{
	font-size:18px;
	}
#contact .tel_box p{}	

#contact .tel_box .tel_info .left{
	}
#contact .tel_box .tel_info .left .tel_no{
	}
#contact .tel_box .tel_info .left p.tel_no_sub{
	}	
#contact .tel_box .tel_info .right{
	}
#contact .tel_box .tel_info .right p.muryo{
}

/*2Xάέθ*/
#contact .tel_box .tenpo2 .tel_info .left .tel_no span{	}



/*@^uΨΦj[
-----------------------------------------------------------------------------------------------------------------------------------------*/
.tab_navi_a{ 
	clear:both;
	zoom:100%;
	display:block;
	padding:10px 0;
	}
.tab_navi_a:after{
	content:"";
	display:block;
	clear:both;
}
.tab_navi_a li{
	padding:0 0 0 0;
	float:left;
	margin:0 15px 5px 0;
	list-style-type:none;
	vertical-align:bottom;
	}
.tab_navi_a li a{
	display:block;
	text-align:center;
	font-size:22px;

	color:#FFF;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;
	
}
.tab_navi_a li.select a{


	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
	
}
.tab_navi_a li a:hover{
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;	
}

/**/
.tab_navi{ 
	overflow:hidden;
	clear:both;
	zoom:100%;
	border-bottom:3px solid #039;
	display:block;
	padding:10px 0;
	}
.tab_navi:after{
	content:"";
	display:block;
	clear:both;
}
.tab_navi li{
	float:left;
	width:278px;
	padding:0 0 0 0;
	margin:0 2px 5px 0;
	list-style-type:none;
	vertical-align:bottom;
	}
.tab_navi li a{
	display:block;
	text-align:center;
	font-size:22px;


	border-radius:5px 5px 0 0;
	padding:15px 0 15px 0;
	background-color:#039;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #09F), color-stop(0.00, #039));
	background: -webkit-linear-gradient(#09F, #039);
	background: -moz-linear-gradient(#09F, #039);
	background: -o-linear-gradient(#09F, #039);
	background: -ms-linear-gradient(#09F, #039);
	background: linear-gradient(#09F, #039);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09F', endColorstr='#039', GradientType=0);

	color:#FFF;
	cursor:pointer;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;
	
}
.tab_navi li.select a{


	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
	
}
.tab_navi li a:hover{
	filter:alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;	
}

.tab_content .hide{display:none;}

