div.content {
  margin: 2em auto;
  padding: 2em;
  border: 1px solid #999;
  background: #FFF;
}

li {
  clear: both;
}

li span {
  display: inline-block;
  /* border: 1px solid #000; */
  padding: 0.5em;
}

span.info_date {
  width: 6em;
}

span.info_text {
  width: 500px;
}

span.edit,
span.remove {
  width: 3em;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

li:hover span {
  background: #999;
  color: #FFF;
}

li:hover span.edit,
li:hover span.remove {
  opacity: 1;
}

li span.edit:hover,
li span.remove:hover {
  color: #FFAE00;
}

#remove_confirm {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
  position: absolute;
  width: 300px;
  background: #EEE;
  border: 1px solid #999;
}

#remove_confirm h4 {
  margin: 0;
  padding: 0.4em;
  padding-left: 1em;
  border-bottom: 1px solid #999;
}

#remove_contents {
  padding: 1em;
}

#remove_confirm div.buttons {
  text-align: right;
}

#remove_confirm div.buttons input {
  margin: 0.5em;
}

#info_date_disp {
  width: 6em;
  cursor: pointer;
  border: 1px solid #999;
  background: #EEE;
  display: block;
  text-align: center;
  padding: 0.2em;
}

#info_date_disp:hover {
  color: #FFAE00;
}

div#calContainer {
  position: absolute;
  z-index: 10;
}

#edit_block {
  -moz-box-shadow: 2px 2px 10px #666;
  -webkit-box-shadow: 2px 2px 10px #666;
  box-shadow: 2px 2px 10px #666;
  position: absolute;
  width: 500px;
  background: #EEE;
  border: 1px solid #999;
}

#edit_block h4 {
  margin: 0;
  padding: 0.4em;
  padding-left: 1em;
  border-bottom: 1px solid #999;
}

#edit_contents div {
  margin: 0.5em;
}

#edit_block label {
  display: inline-block;
  width: 3em;
}

#edit_contents {
  padding: 1em;
}

#edit_block div.buttons {
  text-align: right;
}

#edit_block div.buttons input {
  margin: 0.5em;
}

#info_text,
#link {
  width: 25em;
}

div.add {
  margin-bottom: 1em;
}

#add {
  font-weight: bold;
  cursor: pointer;
  color: #836201;
  border: 1px solid #EEE;
  padding: 0.4em;
}

#add:hover {
  color: #FDDB00;
  background: #999;
}


