div.content {
  margin: 2em auto;
  width: 300px;
  padding: 2em;
  border: 1px solid #999;
  background: #FFF;
}

div.row {
  margin: 1em;
}

div.buttons {
  text-align: right;
}

div.input input {
  width: 10em;
  ime-mode: disabled;
}

div.input {
  padding-left: 2em;
}

div.note {
  padding: 1em;
  color: #FFF;
}


