/* CSS Document */


*{ margin:0; padding:0;}
img{ border:0;}

body{
     font-size:13px;/* _uEUü¯ */
	 *font-size: small;/* IE 7ü¯ */
	 *font-size: x-small;/* IE 6Èº */
	
	
}

div#project{margin:0 auto;}
h1{ margin:0 auto; font-size:12px; font-weight:normal; color:#333333; text-align:left;}

body{ text-align:center;}


a{ color:#0000FF; text-decoration:none;}
a:hover{ color:#009999; text-decoration:underline;}

p,th,td,li{ font-size:100%; line-height:160%; letter-spacing:0.1em; color:#333333;}

table{ margin:auto;}
div{ margin: auto;}

/***¥eLXgÖA¥***/
span.t10{ font-size:10px;}
.t11{ font-size:11px;}
.t12n{ font-size:12px; font-weight:normal;}
.t12{ font-size:12px;}
.t13{ font-size:13px;}
.t14{ font-size:14px;}
.t15{ font-size:15px;}
.t16{ font-size:16px;}
.t18{ font-size:18px;}
.t20{ font-size:20px;}

.t_red{ color:#FF0000;}
.t_red2{ color:#CC3300;}
.t_red_b{ color:#FF0000; font-weight:bold;}
.t_red11{ color:#FF0000; font-size:11px;}
.t_blu{ color:#4B5B87;}
.t_blu2{ color:#0000FF;}
.t_bb{ color:#0066FF; font-weight:bold;}
.t_or{ color:#F4B553;}
.t_pnk{ color:#FF3399;}
.t_gly{ color:#999999;}
.t_gly11{ color:#999999; font-size:11px;}
.t_g11{ color:#666666; font-size:11px;} 
.t_no{ color:#333333;}
.t_ul{ text-decoration:underline;}

.essential{ color:#CC0000; font-size:10px;}
.essential2{ color:#FFFFFF; font-size:10px;}
.rei{ color:#999999; font-size:10px;}
.tel{ color:#FF0000; font-size:26px; font-weight:bold; line-height:180%;}
.chuui{ color:#CC0000; font-size:10px;}

.t_b{ font-weight:bold;}
.t_ul{ text-decoration:underline;}
.end_sps30{ margin-bottom:30px;}

.clr_sps{ clear:left; height:1px;}
/*.b_h{ border:1px dotted #FFCC00;}*/

.CNT{ text-align:center;}
.R{ text-align:right;}
.L{ text-align:left;}
/***£eLXgÖA£***/


/**¥¤Ê¥**/

/** 20121109XmasÏXOiÊíªj
#bg {
  width:100%;
  background:url(../img/common/bg.jpg) no-repeat center top scroll;
}
 **/
 
/** 20121109XmasKpª **/
#bg {
  width:100%;
  background:url(../img/common/bg02.jpg) repeat-x center top scroll;
}

#bg02{
  width:100%;
  margin:0 auto;
  background:url(../img/common/bg.jpg) no-repeat center top scroll;
}



#container {
  width:900px;
  margin:0 auto;
}

#head {
  padding:9px 0 1px 0;
}

#head h2.logo {
  float:left;
}

#head p.tel {
  float:right;
}

#head_menu {
  clear:left;
  width:100%;
  height:49px;
  background:url(../img/head_menu/head_menu_bg.gif) repeat-x scroll 0 0;
}

#head_menu ul {
  height:35px;
  list-style-type:none;
  margin:0 auto 0 10px;
  padding-top:11px;
}

#head_menu ul li {
  height:35px;
  float:left;
}

#main_image {
  clear:left;
  width:100%;
  text-align:right;
  padding:8px 0 6px 0;
}

#contents {
  background-color:#FDF9FB;
  border:solid 1px #EFCAE3;
  margin:0 auto 20px auto;
  padding-bottom:26px;
}

#foot {
  clear:left;
  width:900px;
  height:82px;
  background:url(../img/foot/foot_bg.gif) repeat-x scroll 0 0;
  padding-top:16px;
}

#foot p.f_menu {
  float:left;
  font-size:12px;
  padding-left:12px;
}

#foot p.f_ad {
  float:right;
  
}

#foot p.copy_right {
  float:left;
  margin:24px auto 0 auto;
  font-size:12px;
  color:#999999;
  letter-spacing:0.1em;
  
}
 


	
/**£¤Ê£**/


/**¥sno¥**/

#main {
  width:834px;
  margin:0 auto;
}

#main ul#c_menu {
  width:834px;
  height:154px;
  background-color:#E2BACB;
  margin:22px auto 20px auto;
  list-style-type:none;
}

#main ul#c_menu li {
  float:left;
  display:inline;
  width:262px;
  height:131px;
  margin:12px auto 0 12px;
}

#main ul#c_menu li.c_menu01 a {
  display:block;
  width:162px;
  height:80px;
  padding:50px 0 0 100px;
  font-size:11px;
  line-height:140%;
  text-align:left;
}

#main ul#c_menu li.c_menu02 a {
  display:block;
  width:162px;
  height:80px;
  padding:50px 0 0 100px;
  font-size:11px;
  line-height:140%;
  text-align:left;
}

* html div#main ul#c_menu li.c_menu01 a {
  display:block;
  width:262px;
  height:130px;
  padding:50px 0 0 100px;
  font-size:11px;
  line-height:140%;
  text-align:left;
}

* html div#main ul#c_menu li.c_menu02 a {
  display:block;
  width:262px;
  height:130px;
  padding:50px 0 0 100px;
  font-size:11px;
  line-height:140%;
  text-align:left;
}

#main ul#c_menu li.c_menu01 {
  background:url(../img/top/c_menu01.jpg) no-repeat scroll 0 0;
  letter-spacing:0;
}

#main ul#c_menu li.c_menu02 {
  background:url(../img/top/c_menu02.jpg) no-repeat scroll 0 0;
  letter-spacing:0;
} 

#main ul#c_menu li.c_menu03 {  
  letter-spacing:0;
}

#main ul#c_menu li.c_menu03 a img.t_sps {
  padding-top: 10px;
}

#main div#left_box {
  float:left;
  width:193px;
  height:601px;
  background-color:#FFFFFF;
  border:1px solid #EFDAE3;  
}

#left_box h3 {
  margin-bottom:14px;
}

#left_box p.l_bnr {
  width:165px;
  margin:0 auto 24px auto;
  text-align:left;
  font-size:11px;
  letter-spacing:0;
}

#left_box div.line {
  width:191px;
  height:5px;
  background:url(../img/top/line.gif) no-repeat scroll 0 0;
  margin:0.5em auto;
}

#main div#center_box {
  float:left;
  width:367px;
  /** height:601px; **/
  height: 683px;
  background-color:#FFFFFF;
  border:1px solid #EFDAE3;
  margin:0 9px;
}

#center_box h3 {
  margin-bottom:8px;
}

#center_box p {
  text-align:left;
  font-size:12px;
  margin:0 auto 14px auto;
  width:361px;
  color:#333333;
  line-height:140%;
}

#main div#center_box p.bnr {
  margin:6px auto 0 auto;
  text-align:center;
}

#main div#right_box {
  float:left;
  width:250px;
  height:601px;
  background-color:#FFFFFF;
  border:1px solid #EFDAE3;
}

#right_box div#news {
  height:335px;
  overflow:auto;
  width:230px;
  margin:5px auto 5px auto;
}

#news p.n_day {
  text-align:left;
  font-size:12px;
  line-height:120%;
}

#news p.n_txt {
  text-align:left;
  font-size:12px;
  margin-bottom:8px;
  line-height:140%;
}

#right_box p.bnr {
  margin-bottom:5px;
}
	

/**£sno£**/


/**¥2KwÚÈº¤Ê¥**/

#sub_bg {
  width:100%;
}

#sub_left {
  width:193px;
  float:left;
  display:inline;
  margin:22px auto 0 22px;
  background-color:#FFFFFF;
  border:1px solid #EFDAE3;
}

#sub_left p.image_pic {
  margin-bottom:14px;
  margin-top:4px;
}

#sub_left p.l_bnr {
  width:183px;
  margin:0 auto 10px auto;
  text-align:left;
  font-size:11px;
  letter-spacing:0;
}

#sub_left p.sps {
  height:4px;
}


#sub_main {
  width:631px;
  float:left;
  display:inline;
  margin:20px auto 0 12px;
}

#sub_main div#main_box {
  background-color:#FFFFFF;
  border:1px solid #EFDAE3;
  margin:13px auto 0 2px;
}
  


p.p_l {
  text-align:left;
  margin:10px auto 10px 20px;
}

p.page_top {
  text-align:right;
  margin:20px 20px 20px auto;
}


/**£2KwÚÈº¤Ê£**/
