/* フラワーソープレッスン */


#sub_left {
  height:2227px;
}

#flowersoap {
  margin:0 auto 50px auto;
}

#flowersoap h4 {
	margin-bottom: 20px;
}

#flowersoap h5 {
  margin:30px auto 30px auto;
}

#flowersoap h6 {
  margin:30px auto 20px auto;
}

#flowersoap p {
  text-align:left;
  letter-spacing:0;
}

#flowersoap p.txt {
  color:#CC3300;
  margin:0 auto;
}

#flowersoap p.t_txt {
  width: 580px;
  margin:10px auto;
  text-align: left;
}

#flowersoap p.top_txt {
  text-align: center;
}

#flowersoap p.pic {
  margin: 20px auto;
  text-align: center;
}

#comment_box {
  width:605px;
  margin:20px auto 20px auto;
}

#comment_box p.pic {
  width:150px;
  float:left;
  display:inline;
  margin:0 auto;
}

.txt_area {
  width:420px;
  float:left;
  display:inline;
  margin:0 auto 0 20px;
}

.course_box {
  width:555px;
  height:180px;
  text-align:left;
  margin:0 20px 20px auto;
}

.course_box p.course_txt {
  width:346px;
}

.bg01 {
  min-height:180px;
  background:url(../img/flowersoap/pic_course-a.jpg) no-repeat scroll right bottom;  
}

.bg02 {
  min-height:180px;
  background:url(../img/flowersoap/pic_course-b.jpg) no-repeat scroll right bottom;  
}

.bg03 {
  min-height:180px;
  background:url(../img/flowersoap/pic_course-c.jpg) no-repeat scroll right bottom;  
}

.shop {
  width: 575px;
  margin: 0 20px 0 auto;
}

.shop p.pic {
  width: 197px;
  float: left;
}

.shop p.btn {
  float: right;
  padding-top: 16em;
}

.instance {
  margin: 20px auto;
  }