/* プライバシーポリシー */


#sub_left {
  height:1009px;
}

#information {
  margin:0 auto 50px auto;
}

#information h4 {
  width:627px;
  height:33px;
  font-size:16px;
  text-align:left;
  background:url(../img/information/sub_title_bg.jpg) no-repeat scroll 0 0;
  padding:0.4em 0 0 3em;
  color:#666666;
  margin:0.3em auto 1em auto;
}

#information h5 {
  margin:30px auto 30px auto;
}

#information h5.box_title {
  width:577px;
  height:21px;
  margin:30px auto 0 auto;
}

#information h6 {
}

#information p {
}

#information p.top_txt {
  width:560px;
  margin:30px auto;
  text-align:left;
}

#information ul {
}

#information li {
}

.box_bg_main {
  width:577px;
  margin:0 auto;
  background:url(../img/information/box_bg_main.jpg) repeat-y scroll 0 0;
  padding:10px 0;
}

.box_bg_main p {
  width:530px;
  margin:0 auto;
  text-align:left;
}

.box_bg_main ul {
  width:500px;
  text-align:left;
  margin:10px auto 0 auto;
}

.box_bg_bottom {
  width:577px;
  height:10px;
  background:url(../img/information/box_bg_bottom.jpg) no-repeat scroll 0 0;
  margin:0 auto 30px auto;
}

